* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #ffffff;
  font-size: 20px;
}

.body {
  background-color: #2b2b2b;
  height: 100vh;
}

.header-nav-bar {
  align-items: center;
  background-color: #2b2b2b;
  border-bottom: 2px solid #3d3c3c;
  color: #ffffff;
  display: flex;
  justify-content: center;
  height: 64px;
  padding: 0 16px;
  text-align: center;
}

.app-header-nav-bar {
  align-items: center;
  background-color: #2b2b2b;
  border-bottom: 2px solid #3d3c3c;
  color: #ffffff;
  display: flex;
  height: 64px;
  padding: 0 16px;
}

.back-btn {
  color: #13293d;
  border: none;
  position: fixed;
  top: 2%;
  left: 5%;
  padding-right: 5%;
  z-index: 100;
}

.links-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 150px;
  padding: 20px;
  background-color: #2b2b2b;
  font-size: 16px;
  border-bottom: 2px solid #3d3c3c;
}

.links-grid-container {
  display: inline-block;
}

.link-grid-item {
  padding: 25px;
  align-items: center;
  text-align: center;
  font-size: 16px;
}

.misleading-inline-link {
  padding: 10px;
  align-items: center;
  text-align: center;
  font-size: 25px;
  background-color: #70a37f;
  position: fixed;
  right: 10px;
  top: 16%;
}

.privacy-inline-link {
  padding: 10px;
  padding-left: 46px;
  padding-right: 46px;
  align-items: center;
  text-align: center;
  font-size: 25px;
  background-color: #70a37f;
  position: fixed;
  left: 10px;
  top: 16%;
}

.grid_body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.icon-grid-container {
  padding-top: 20px;
  border-top: 1px solid #13293d;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
}

.grid-item {
  /* icons */
  display: flex;
  justify-content: center;
  border-radius: 8px;
  text-align: center;
}

.insta-grid-item {
  display: flex;
  justify-content: center;
  border-radius: 8px;
  text-align: center;
}

.grid-item img {
  width: 120px;
  height: 120px;
}

.insta-grid-item img {
  width: 130px;
  height: 140px;
}

.appTitle {
  text-align: center;
  font-size: 30px;
  color: #ffffff;
  padding: 5%;
}

.appInfo1 {
  padding: 5px;
  text-align: left;
  font-size: 20px;
  color: #13293d;
}

.accordion {
  align-items: center;
  background-color: #2b2b2b;
}

.accordionTitle {
  height: 130px;
  color: #2b2b2b;
}

.accordionItems {
  padding-bottom: 15px;
}

.appTitle-Source {
  padding-left: 10%;
  padding-right: 15%;
  font-size: 30px;
}

.sources-inline-link {
  padding: 5px;
  text-align: center;
  font-size: 15px;
  position: fixed;
  bottom: 2%;
  left: 42%;
}

.checkbox {
  position: fixed;
  right: 16%;
  align-items: center;
}

.doneButton {
  background-color: #70a37f;
  padding: 5px;
  text-align: center;
}

.link-grid-item {
  align-items: center;
}

.links-grid-container {
  align-items: center;
}

.infoBody {
  background-color: #444444;
  color: #ffffff;
  font-size: 20px;
}

.infoSubtitleCentre {
  justify-content: center;
  text-align: center;
  width: 100%;
  padding-top: 5px;
}

.infoParagraph {
  text-align: center;
  padding-bottom: 5px;
  border-bottom: 1px solid #2b2b2b;
}

.imgClass {
  max-width: 100%;
}
