* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #ffffff;
  font-size: 20px;
}

.body {
  background-color: #2b2b2b;
  height: 100vh;
}

.header-nav-bar {
  align-items: center;
  background-color: #2b2b2b;
  border-bottom: 2px solid #3d3c3c;
  color: #ffffff;
  display: flex;
  justify-content: center;
  height: 64px;
  padding: 0 16px;
  text-align: center;
}

.app-header-nav-bar {
  align-items: center;
  background-color: #2b2b2b;
  border-bottom: 2px solid #3d3c3c;
  color: #ffffff;
  display: flex;
  height: 64px;
  padding: 0 16px;
}

.back-btn {
  color: #13293d;
  border: none;
}

.links-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 150px;
  border-bottom: 5px;
  padding: 20px;
  background-color: #2b2b2b;
  font-size: 16px;
  border-bottom: 2px solid #3d3c3c;
}

.links-grid-container {
  display: inline-block;
}
.link-grid-item {
  padding: 25px;
  align-items: center;
  text-align: center;
  font-size: 16px;
  margin: 10px;
}

.inline-link {
  padding: 10px;
  margin: 10px;
  gap: 10%;
  align-items: center;
  text-align: center;
  font-size: 25px;
  background-color: #70a37f;
}

.grid_body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.icon-grid-container {
  padding-top: 20px;
  border-top: 1px solid #13293d;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
}

.grid-item {
  /* icons */
  display: flex;
  justify-content: center;
  border-radius: 8px;
  text-align: center;
}

.grid-item img {
  width: 120px;
  height: 120px;
}

.appTitle {
  text-align: center;
  font-size: 30px;
  color: #ffffff;
  margin-left: 50%;
  margin-right: 50%;
}

.appInfo1 {
  padding: 5px;
  text-align: left;
  font-size: 20px;
  color: #13293d;
}

.accordion {
  align-items: center;
  background-color: #2b2b2b;
}

.accordionTitle {
  height: 130px;
  color: #2b2b2b;
}

/*
.Mui-expanded{
  
}*/
